<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @segment.name %>
</p>

<p>
  <b>Contenet:</b>
  <%= @segment.contenet %>
</p>

<p>
  <b>Page:</b>
  <%= @segment.page_id %>
</p>


<%= link_to 'Edit', edit_segment_path(@segment) %> |
<%= link_to 'Back', segments_path %>
